@use "../../base";

div.container {
    border-radius: 5px;
    font-weight: 600;
    margin-top: 0.7rem;
    color: grey;

    p.text {
        font-size: 0.8rem;
    }

    span {
        font-size: 0.5rem;
    }

}