@use "../../base";

div.header {
    width: 30%;
    height: 7%;
    display: flex;
    justify-content: center;

    a.text {
        font-size: 2rem;
        font-weight: bold;
        color: base.$black;
        text-decoration: none;
    }

    a.text:hover {
        text-decoration: underline;
    }
}