@use "../../base";

div.header {
    width: 30%;
    height: 7%;
    display: flex;
    justify-content: center;

    p.text {
        font-size: 2rem;
        font-weight: bold;
        color: base.$black;
    }
}