@use "../../base";


div.container {
    height: 7%;
    width: 35%;
    margin-top: 1.5rem;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    div.tile {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        height: 100%;
        cursor: pointer;
        padding: 0 0.8rem;

        p.label {
            font-size: 0.8rem;
        }

        select {
            font-size: 0.8rem;
        }
    }

    div.tile:hover {
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
}