$white: #F9F9F9;

#root {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white;
}

@media (max-width: 1024px) {
  #root {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  #root {
    padding-top: 5rem;
  }
}